:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  color: var(--very-light-gray);
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  color: var(--transparent-white);
}
.learn-more {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  /* color: var(--transparent-white); */
}

.buttons {
  display: flex;
  align-items: center;
  background-color: var(--very-light-gray);
}

body {
  min-height: 100vh;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  /* max-width: 350px;
  padding: 24px; */
  border-radius: 15px;
  flex-direction: row;
}

.yellow-column {
  background-color: var(--bright-orange);
}

.blue-column {
  background-color: var(--dark-cyan);
}

.green-column {
  background-color: var(--very-dark-cyan);
}

.attribution {
  font-size: 15px;
  position: fixed;
  bottom: 20px;
}
