:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-item {
  align-items: center;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  color: var(--very-light-gray);
  margin: 40px;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  color: var(--transparent-white);
  line-height: 2;
  padding: 0 1em 1em 2.5em;
}

.learn-more {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  text-align: center;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-light-gray);
}

.card {
  max-width: 900px;
  padding: auto;
  padding-left: 70px;
}

.card-body {
  height: 50%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.buttons,
.flex-item {
  background-color: var(--very-light-gray);
  border-radius: 25px;
  padding: 0.8em 0.8em 0.8em 0.8em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 50%;
}

.yellow-button {
  color: var(--bright-orange);
}

.blue-button {
  color: var(--dark-cyan);
}

.green-button {
  color: var(--very-dark-cyan);
}

.yellow-column {
  background-color: var(--bright-orange);
  border-radius: 15px 0 0 15px;
}

.blue-column {
  background-color: var(--dark-cyan);
}

.green-column {
  background-color: var(--very-dark-cyan);
  border-radius: 0 15px 15px 0;
}

.icon {
  margin: 40px 40px 0px;
  height: 30%;
  width: 30%;
}

.attribution {
  font-size: 15px;
  position: fixed;
  bottom: 20px;
}
