:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  color: var(--very-light-gray);
  margin: 40px;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  color: var(--transparent-white);
  line-height: 2;
  padding: 0px 55px 80px 60px;
}

.learn-more {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

.buttons {
  display: flex;
  align-items: center;
  background-color: var(--very-light-gray);
  border-radius: 15px;
}

body {
  min-height: 100vh;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-light-gray);
}

.card {
  max-width: 1200px;
  padding: 100px;
  border-radius: 15px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  width: 100%;
}

.yellow-column {
  background-color: var(--bright-orange);
}

.blue-column {
  background-color: var(--dark-cyan);
}

.green-column {
  background-color: var(--very-dark-cyan);
}

.icon {
  margin: 40px 40px 0px;
}

.attribution {
  font-size: 15px;
  position: fixed;
  bottom: 20px;
}
